<div class="w-full lg:max-w-full lg:flex shadow-lg mb-5">
<div class="bg-white w-full rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
<div class="mb-8">
{% block content %}{% endblock %}
</div>
{% block rest %}{% endblock %}
</div>
</div>