<div class="bg-yellow-300 text-xs p-2 mb-2">
    <strong>Disclaimer</strong>
    <p class="leading-4">Following guidelines are not legal advice nor official information provided by the police. It's based on the feedback given by some officers during the cooperation with members of the public, correspondence with Police and CPS, magistrates court rulings or results on reported incidents.</p>
</div>