<div class="w-full lg:max-w-full lg:flex shadow-lg mb-3">
<div class="w-full bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
<h2 class="text-xl">{% block introtitle %}{% endblock %}</h2>
<div class="leading-loose">
{% block introbody %}{% endblock %}
</div>
</div>
</div>
