{% import 'months-macro.njk' as months %}

<div class="flex-1 w-full flex flex-wrap">
{%- for date in collections.calendar | reverse -%}
    {%- if date.type == 'year' -%}    
        {{ months.r(date, collections.calendar) }}
    {%- endif -%}
{%- endfor -%}
</div>