{% extends 'intro.njk' %}

{% block introtitle %}
Series: #unlearn
{% endblock %}

{% block introbody %}
<p>Growing up in an environment very different from the UK, but still placing itself in the so-called Western Culture I have sunk in some views that either caused me trouble or were tested a hard time when I came to live in Britain. In this series, I want to address all things I had to unlearn while living here, learning about the world or simply growing up.</p>
{% endblock %}