---
title: PhoneKills
topNav: false
---
<div class="w-full lg:max-w-full lg:flex shadow-lg mb-3">
<div class="w-full bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
<h2 class="text-xl">Thank you!</h2>
<div class="leading-loose text-sm ">
Please check your email to confirm your subscription.
</div>
</div>
</div>
